<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Películas Nuevas</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Cartelera</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>


  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Populares</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pares [peliculas]="populares"
                       (cargarMas)="cargarMas()"></app-slideshow-pares>


</ion-content>

